*{
    margin: 0;
    padding: 0;
    font-family:  "Amazon Ember", Arial, sans-serif;
}

nav{
    background-color: rgb(8, 8, 79);
    display: flex;
    align-items: center;
    color: white;
    gap: 18px;
}

.logo{
    width: 84px;
    height: 51px;
}

.logo img{
    width: 90px;
    position: relative;
    left: 23px;
    bottom: 7px;
}

.location{
    width: 40px;
}

.location img{
    width: 15px;
    position: relative;
    left: 30px;
cursor: pointer;
   
}

.locationcontent{
    color: white;
}

.dropdown select{
    background-color: #e2e2e2;
    width: 55px;
    height: 45px;
    position: relative;
    right: -19px;
    border-radius: 10px 0px 0px 10px;
    cursor: pointer;
}

.searchbar input{
    width: 715px;
    height: 45px;
    
}

.searchlogo{
    background-color: orange;
    height: 43px;
    width: 35px;
    border-radius: 0px 10px 10px 0px;
    position: relative;
    right: 18px;
}

.searchlogo img{
 width: 30px;
 position: relative;
 top: 7px;
}

.country img{
    width: 24px;
}

.country select{
    background-color: transparent;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
}

.cart img{
    width: 37px;
    cursor: pointer;
}

.options{
    background-color: rgb(8, 8, 79);
    color: white;
}
.options ul{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    font-size: medium;
    padding: 15px;
    cursor: pointer;
}


.options ul li{
    display: flex;
    text-decoration: none;
}

.options ul li img{
   width: 20px;
}

.sidebar{
    width: 20%;
}

.product{
    width: 100%;
    display: flex;
}

.main{
    display: flex;
}
.phone{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f2ecec;
}
.phone img{
    background-color: #f4ecec;
    width: 270px;
}

.checked {
    color: orange;
}

.text{
    padding: 10px;
}
.text button{
    background-color: yellow;
    padding: 7px;
    border-radius: 15px;
}
.product{
    padding: 0px;
    height: 400px;
}
.productlist{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
    aside{
    font-size: larger;
    margin-left: 15px;
}

p{
    margin-top: -10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}